<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>履歴書</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <h1>ゲームエンジニア</h1>
        <h2>OOO</h2>
        <main>
            <section id="my">
                <h2>プロフィール</h2>
                <p>年齢:30代</p>
                <p>性別:男</p>
            </section>

            <section id="pr">
                <h2>自己PR</h2>
                <p>ブラウザゲームのゲームエンジニアにて</p>
                <p>主にゲーム内の新規機能の作成や運用保守をしていました。</p>
                <p>・通常業務について</p>
                <p>毎月のイベントリリースの開発やDBの更新、CS対応、PF間のAPIをつなぐ作業などを行っていました。</p>
                <p>・通常業務以外について</p>
                <p>通常業務が落ち着いたあと、作業の中で効率がわるいと感じたものや新規の企画を自分なりにロジックを組んで、対応を行いました。</p>
                <p>
                    対応したもの<br>
                    ゲーム内のイベント更新を時間経過によって変更できる機能
                    社内のチャットワークを使った終礼をお知らせするアラーム機能
                    ゲームの管理システムの充実化(PF別のDB一括更新/ガチャ一括実行(1回/10回/100回)/新機能に関する調査方法)
                </p>
                <p>
                    実装結果<br>
                    更新手順の簡略よる安定した運用が出来るようになり、人的ミスが大幅に減ったためストレスが緩和された。
                    また通常業務に割く時間が減ったため、その分別の作業をすることが出来た。
                </p>
                <p>
                    業務による一番達成感を得たこと<br>
                    新規スキルを初めて担当した時で、実装のイメージはあるものの技量不足でつまずいたが、上司にコードの相談をしたり、
                    ディレクターとの実機確認と修正を受け、実装まで行えたことです。
                    4カ月と時間はかかりましたが、ゲームの売り上げにも直結させ、ユーザーの反応もよく自分の中で一番の達成感を感じた経験です。
                </p>
            </section>

            <section id="contact">
                <h2>お問い合わせ</h2>
                <p>ここに連絡先情報が入ります。</p>
            </section>
        </main>
    </body>
</html>
